<div class="main-container" id="log-app">
    <%- include('../_header') %>

    <div class="section results-section">
        <h3><%= capitalize(entityName)%> : <%= capitalize(crudAction) %></h3>
        <% include _form %>
    </div>
</div>
