<div class="row">
    <div class="section results-section container">
        <div class="row">
            <div class="pull-left">
                <h3><%= capitalize(entityName)%></h3>
            </div>

            <div class="add-record pull-right">
                <button id="add_record"
                    data-action="create"
                    type="button"
                    class="js-add-record btn btn-success">
                    Add <%= capitalize(entityName)%>
                </button>
            </div>
        </div>

        <div class="row">
            <% if(records.length === 0){ %>
                <div class="well">
                    <p class="lead">
                        There are no records to show here yet.
                    </p>
                </div>
            <% } else { %>
                <% include _grid %>
            <% } %>
        </div>
    </div>
</div>
