<div class="main-container" id="log-app">

    <div class="section results-section row">
        <h3><%= capitalize(entityName)%>: <%= capitalize(crudAction) %></h3>

        <% include _form %>
    </div>
</div>
